*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*Header*/

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 40px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.header__wrapper nav ul{
  display: flex;
}

.header__wrapper nav ul li {
  list-style: none;
  white-space: nowrap;
  margin-right: 49px;
}

.header__wrapper nav ul li:last-child {
  margin-right: 25px;
}

.header__wrapper nav ul li a{
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.header__wrapper nav ul li a:hover {
  color: #0FE4EF;
}

.header__burger {
  display: none;
}

/*Main Slider*/

.slideshow-container {
  position: relative;
}

.slider__text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.slider__text-title {
  margin-bottom: 100px;
}

.slider__text-title h2 {
  font-size: 60px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 37px;
  white-space: nowrap;
}

.slider__text-title p {
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

.slider__btn-wrapper {
  max-width: 479px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  border: 3.0px solid #f8f8f8;
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none;
  padding: 17px 36px;
  display: inline-block;
}

.btn_slider-hireIsNow {
  padding: 17px 45px;
  margin-left: 28px;
}

.btn_slider-hireIsNow:hover {
  border: 3.0px solid #00897b;
  background: #00897b;
}

.slider-buttom-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #00897b;
  font-size: 40px;
}

.slider-buttom-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #00897b;
  font-size: 40px;
}

.slider-buttom-prev:hover, .slider-buttom-next:hover {
  color: #0ecebb;
}

/*About Us*/

.about__us {
  padding: 125px 0px;
}

.about__us-wrapper {
  max-width: 1077px;
  margin: 0 auto;
}

.about__us-title {
  text-align: center;
  margin-bottom: 111px;
}

.about__us-title h2 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.about__us-title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.about__us-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about__us-card {
  text-align: center;
}

.about__us-card h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 35px 0px;
}

.about__us-card p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.about__us-card:nth-child(2) {
  margin-top: 2px;
}

.about__us-card:not(:last-child) {
  margin-right: 153px;
}

/*Our Services*/

.our__services {
  background-color: #e4fdf9;
}

.our__services-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 170px 0px 118px;
  text-align: center;
}

.our__services-title {
  margin-bottom: 116px;
}

.our__services-title h3 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.our__services-title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.our__services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our__services-card {
  width: 367px;
  background: #fff;
  padding: 53px 0px 46px;
  box-shadow: 20px 20px 40px 0px rgb(255, 255, 255);
  transition: all 0.3s linear;
}

.our__services-card:hover {
  background-color: #00897b;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.34);
  color: #fff;
}

.our__services-card:hover .test {
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s linear;
}

.our__services-card h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 33px 0px 18px;
}

.our__services-card p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.our__services a {
  border: 2px solid #000;
  display: inline-block;
  text-decoration: none;
  color: #212121;
  padding: 15px 11px;
  cursor: pointer;
}

.our__services-card:nth-child(1), .our__services-card:nth-child(2), .our__services-card:nth-child(3) {
  margin-bottom: 30px;
}

/*Latest Works*/

.latest__works-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 130px 0px 134px;
}

.latest__works-title {
  margin-bottom: 112px;
  text-align: center;
}

.latest__works-title h3 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.latest__works-title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.latest__works-view {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 115px;
}

.works__view-button {
  background: transparent;
  border: 2.0px solid #00897b;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 15px;
}

.works__view-button:hover {
  color: #fff;
  background: #00897b;
  cursor: pointer;
}

.works__view-button:not(:last-child) {
  margin-right: 20px;
}

.works__view-button:first-child, .works__view-button:last-child {
  padding: 15px 30px;
}

.latest__works-view-puctures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 121px;
}

.portfolio__btn {
  position: relative;
  cursor: pointer;
}

.portfolio__btn:nth-child(1), .portfolio__btn:nth-child(2), .portfolio__btn:nth-child(3) {
  margin-bottom: 30px;
}

.portfolio__btn img:hover {
  filter: brightness(40%);
}

.portfolio__text {
  display: none;
}

.portfolio__text h5 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.portfolio__text p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.portfolio__btn:hover .portfolio__text {
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}

.latest__works-allbtn {
  background: #00897b;
  color: #fff;
  padding: 20px 50px !important;
  margin: 0 auto;
  display: block;
}

/*Pricing Plan*/

.pricing__plan-wrapper {
  padding: 123px 0px 125px;
  background: #f0f1f1;
}

.pricing__plan-title {
  margin-bottom: 123px;
  text-align: center;
}

.pricing__plan-title h3 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.pricing__plan-title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.pricing__plan-order {
  margin: 0 auto;
  max-width: 1183px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-between;
}

.pricing__plan-order-card {
  background: url('../src/img/pricingPlan/layers.png')no-repeat top center / cover;
  max-width: 370px;
  padding: 44px 96px 60px;
  text-align: center;
}

.pricing__plan-order-card:hover {
  box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.34);
}

.pricing__card-title {
  color: #fff;
  margin-bottom: 115px;
}

.pricing__card-title h4 {
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 29px;
}

.pricing__card-title sup {
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.pricing__card-title span {
  font-size: 50px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.pricing__card-title sub {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  vertical-align: bottom;
}

.pricing__card-main ul {
  list-style: none;
}

.pricing__card-main ul li {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #212121;
  width: 178px;
  border-bottom: 1.0px solid #0000003a;
  padding-bottom: 10px;
}

.pricing__card-main ul li:not(:last-child) {
  margin-bottom: 35px;
}

.pricing__card-btn {
  cursor: pointer;
  margin-top: 64px;
  border: 2.0px solid #000000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  background: transparent;
  padding: 20px 28px;
}

.pricing__card-btn:hover {
  color: #fff;
  background: #00897b;
  border: 2.0px solid #00897b;
  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.34);
}

/*Our Team Member*/

.our__team-member-wrapper {
  padding: 123px 0px;
}

.our__team-member-title {
  text-align: center;
  margin-bottom: 125px;
}

.our__team-member-title h3 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.our__team-member-title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.our__team-all-members-wrapper {
  max-width: 1322px;
  margin: 0 auto;
  position: relative;
}

.our__team-all-members-card {
  text-align: center;
}

.our__team-all-members-card h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 35px 0px 17px;
}

.our__team-all-members-card p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.our__team-all-social-NW {
  display: flex;
  justify-content: center;
}

.our__team-all-social-NW > div {
  background: #f0f1f1;
  border-radius: 10.0px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00897b;
}

.our__team-all-social-NW > div:not(:last-child) {
  margin-right: 20px;
}

.our__team-all-social-NW > div:hover {
  color: #fff;
  background: #3949ab;
}

/*Our Team Member Slick-SLider*/
.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-slide {
  max-width: 370px;
  margin: 0px 35px;
}

.slick-dots {
  display: flex !important;
  list-style: none;
  justify-content: center;
}

.slick-prev:before, .slick-next:before  {
  color: #3949ab !important;
  font-size: 24px !important;
}

.slick-prev {
  left: 0px !important;
  z-index: 3;
}

.slick-next {
  right: 0px !important;
  z-index: 2;
}

/*Blog*/

.blog {
  background: #e4fdf9;
}

.blog__wrapper {
  text-align: center;
  padding: 125px 0px;
}

.blog__title {
  margin-bottom: 125px;
}

.blog__title h3 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.blog__title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.blog__main-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog__main-news-right > img {
  order: 2;
}

.blog__main-news-right > .blog__main-seo {
  margin: 0px 30px 0px 0px;
}

.blog__main-seo {
  text-align: left;
  margin-left: 30px;
  width: 570px;
}

.seo-vestibulum {
  display: inline-block;
  margin: 60px 0px 30px 0px;
  font-size: 25px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  text-decoration: none;
}

.seo-vestibulum:hover {
  color: #00897b;
}

.seo-cal-and-date {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #212121;
}

.seo-cal-and-date span:first-child {
  margin-right: 33px;
}

.blog__btn {
  display: inline-block;
  margin-top: 120px;
  text-decoration: none;
}

/*Contact Us*/

.contact__us {
  background: #212121; 
  color: #ffffff;
}

.contact__us-wrapper {
  max-width: 1045px;
  margin: 0 auto;
  padding: 123px 0px 110px;
}

.contact__us-title {
  text-align: center;
  margin-bottom: 95px;
}

.contact__us-title h3 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.contact__us-title p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.contact__us-contacts-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 972px;
  margin: 0 auto 75px;
}

.contact__us-card {
  width: 255px;
}

.contact__us-mark {
  width: 105px;
  height: 105px;
  background-color: #3949ab;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.contact__us-mark-text {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: 38px;
}

.contact__us-form-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact__us-form-fields input {
  max-width: 500px;
  width: 100%;
  border-radius: 15.0px;
  outline-style: none;
  padding: 30px 20px;
  font-size: 20px;
  font-weight: 600;
}

.contact__us-form-fields input::placeholder {
  color: #212121;
  opacity: 0.8;
}

.form__field-text-area {
  width: 100%;
  min-height: 320px;
  border-radius: 15.0px;
  outline-style: none;
  padding: 30px 20px;
  max-width: 1045px;
  font-size: 20px;
  font-weight: 600;
}

.form__field-text-area::placeholder {
  color: #212121;
  opacity: 0.8;
}

.contact__us-form-btn {
  margin-left: auto;
  display: block;
  padding: 25px 80px;
  border-radius: 15.0px;
  font-family: "Roboto";
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-top: 40px;
  cursor: pointer;
  outline-style: none;
  border: none;
}

.contact__us-form-btn:hover {
  background: #00897b;
}

/*footer*/

footer {
  padding: 15px 0px;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
